*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
library/ui/build/
library/dash/build/
library/core/build/
testutils/build/
library/all/build/
library/smoothstreaming/build/
library/hls/build/
.idea/
app/Release/
